* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.navbar h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  font-size: 60px;
  color: white;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.navbar a:hover {
  background-color: gray;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 6px;
}

.navbar .menu-bar {
  display: none;
}

.main {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.main .h2 {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  width: 750px;
  border-radius: 30px;
}

.main .section {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  font-size: 20px;
}

.footer {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 6;
  grid-row: 6/6;
  color: white;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 4;
  grid-row: 4/4;
  color: white;
}

.footer a:hover {
  background-color: gray;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 6px;
}
/*# sourceMappingURL=estilos.css.map */